[package]
name = "my_mre_app"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["staticlib"]
path = "src/app.rs"

[dependencies]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
